<footer>
    <div class="footer-content">
      <div class="left-column">
        <p>© 2024 Benjamin Wakefield</p>
      </div>
      <div class="middle-column">
        <a href="https://github.com/wenbakefield"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/wenbakefield/"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.youtube.com/@BenWakefield"><i class="fab fa-youtube"></i></a>
        <a href="https://twitter.com/wenbakefield"><i class="fab fa-twitter"></i></a>
        <a href="https://open.spotify.com/user/sauron458?si=70c6055de7504ec6"><i class="fab fa-spotify"></i></a>
        <a href="https://www.instagram.com/benjiartai/"><i class="fab fa-instagram"></i></a>
      </div>
      <div class="right-column">
        <p>Angular CLI 16.0.5</p>
      </div>
    </div>
  </footer>
  