<div class="container" [@fadeInOut]>
    <div class="grid">
        <div class="box">
            <h1>Hello!<span class="wave">👋</span></h1>
            <h1>I'm Ben Wakefield.</h1>
            <h2 class="primary-color">{{text}}<span class="cursor"></span></h2>
        </div>
        <div class="box image-box">
            <img src="assets/profile.png" alt="Profile Picture">
        </div>
        <div class="box">
            <h1>A little about me...</h1>
            <p>I studied <b class="primary-color">Computer Science &amp; Music Technology </b>at <b class="primary-color">Northeastern University</b>, bridging the gap between the two along the way.
                <br>
                <br>
                I'm fluent in <b class="primary-color">C++</b>, <b class="primary-color">Java</b>, <b class="primary-color">JavaScript</b>, &amp; <b class="primary-color">Python</b>.
                <br>
                <br>
                Lately, I've been exploring AI architectures, including <b class="primary-color">Transformers</b>, <b class="primary-color">Generative Adversarial Networks</b>, <b class="primary-color">Convolutional Neural Networks</b>, &amp; <b class="primary-color">Recurrent Neural Networks</b>.
                <br>
                <br>
                More specifically, I've been experimenting with <b class="primary-color">Music Generation</b>, <b class="primary-color">Source Separation</b>, <b class="primary-color">AI-Assisted Composition</b>, &amp; <b class="primary-color">Generative Game Design</b>.
                <br>
                <br>
                I've also been honing my skills in <b class="primary-color">Web Development</b>, <b class="primary-color">UI/UX Design</b>, &amp; <b class="primary-color">Agile Project Management</b>.
            </p>
        </div>
    </div>
</div>



  
  
  
  
  
  